body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f0ff;
  color: #2c2c2c;
}

header {
  background: linear-gradient(rgba(88, 24, 124, 0.8), rgba(88, 24, 124, 0.8));
  color: white;
  text-align: center;
  padding: 80px 20px;
}

header h1 {
  font-size: 3em;
  margin: 10px 0;
  text-shadow: 2px 2px 6px black;
}

header p {
  font-size: 1.2em;
  margin-top: 5px;
}

/* PROFILE IMAGE */
.profile-pic {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #e1bee7;
  box-shadow: 0 0 20px #ba68c8;
  margin-bottom: 15px;
}

nav {
  display: flex;
  justify-content: center;
  background: #4a148c;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  transition: 0.3s;
}

nav a:hover {
  background: #9c27b0;
}

section {
  padding: 50px 20px;
  text-align: center;
}

h2 {
  color: #6a1b9a;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
  font-weight: bold;
  color: #4a148c;
}

footer {
  background: #4a148c;
  color: white;
  text-align: center;
  padding: 15px;
}

a {
  color: #6a1b9a;
}
